* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.gradient-background {
  background: linear-gradient(300deg, #1344ca, #12229d, #050a30);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
    overflow: hidden;
    background-color: #4697e2;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.navbar a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 5px;
    animation: slideInFromBottom 1s ease-out;
}

.navbar a:hover {
  background-color: #eef1ff;
  color: #0e1a73;
  border-radius: 6px;
}

.navbar a.active {
  color: #0e1a73;
}

#hero {
    background-color: #050a30;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #5cb6f9;
    font-size: 96px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-bottom: 22px;
    animation: slideInFromBottom 1s ease-out;
}

#hero p {
    color: #cae8ff;
    font-size: 33px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    animation: slideInFromBottom 1s ease-out;
}

@keyframes slideInFromBottom {
    0% { 
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#about {
    background-color: #cae8ff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h2 {
    color: #12229d;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}

#about p {
    color: #050a30;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}

#skills {
  background-color: #12229d;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#skills h2 {
  color: #cae8ff;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.skills-box {
  background-color: #f4f6fc;
  width: 375px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skills-box > h3 {
  color: #050a30;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.skills-box > p {
  color: #050a30;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#contact {
  background-color: #5cb6f9;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

#contact h2 {
  color: #050a30;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#contact p {
  color: #050a30;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 60px;
}

.footer {
  background-color: #050a30;
  width: 100%;
  min-height: 25vh;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  color: #ffffff;
  padding: 14px 42px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
}

.footer-links a:hover {
  color: #4052d6;
  border-radius: 6px;
}

.footer small {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}




